<div class="quarantineApp">
  <!-- Begin nav bar -->
    <div class="top-bar" id="nav-bar">
      <div class="top-bar-left">
        <ul class="menu" id="tabs">
          <li class="menu-text"><button type="button" data-open="offCanvasLeft"><img src="vault_logo.png"
                alt="Vault Logo" height="30" width="30">
            </button>
          </li>
          <li><a href="/">Discover</a></li>
          <li><a href="#">Browse</a></li>
        </ul>
      </div>
      <div class="top-bar-right" id="logoutUser">
        <ul class="menu">
          <li><a href="/landingPage">Logout</a></li>
        </ul>
      </div>
      <div class="top-bar-left">
        <div class="search-input-animated" id="searchbox">
          <span class="searchbox-icon"><i class="fa fa-search"></i></span>
          <input type="search" placeholder="Search" name="search" class="searchbox-input" required>
        </div>
      </div>
      <div class="top-bar-left" id="title-site">
        <h2>Quarantinee</h2>
      </div>
    </div>
  <!-- End nav bar-->
  <!--Start of App here-->
  <!-- Authorize Twitch-->
  <div class="container" id="twitchAuth">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h5>Welcome <span class="member-name"></span></h5>
        <a class="button twitch">Authorize Twitch</a>
      </div>
    </div>
  </div>

  <div class="feed-style">
    <div id="top-streams">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous
              Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next
              Slide</span>&#9654;</button>
          <li class="orbit-slide is-active">
            <img src="https://placehold.it/2000x750" height="50%" width="1000px">
          </li>
        </ul>
      </div>
    </div>
<!-- Here you can create a post From Seth: I based all the jquery here on classes so as long as class names stay the same it should still work-->
    <!-- the post button only worked for me when I made into a button element Seth-->
    <div id="postForm">

        <h3 class="text-center">Add to our live feed, say anything!</h3>
        <h5 class="text-center">Share your at home quarantine adventures!</h5>
  
        <form class="create-form text-center">
  
          <div class="form-group" id="authorId">
            <label for="auth">Title:</label>
            <input type="text" id="auth" class="header" name="author">
          </div>
  
          <div class="form-group" id="editId">
            <label for="quo">Edit Post:</label>
            <textarea id="quo" class="body" name="quote" rows="8" cols="40"></textarea>
          </div>
  
          <div class="form-group" id="editId">
            <label for="quo">Category:</label>
            <textarea id="qua" class="category" name="quote" rows="8" cols="40"></textarea>
          </div>
  
          <div class="form-group" id="editId">
            <label for="quo">Link:</label>
            <textarea id="que" class="link" name="quote" rows="8" cols="40"></textarea>
          </div>
          {{!-- <button class="post">Post</button> --}}
          <a class="button post" type="submit" id="postBtn">Add Post</a>
  
        </form>
  
      </div>
  
      <!-- A display of recent posts -->
  
      <div class="row column text-center">
        <h2>Recent Feeds</h2>
        <div class="row">
          <div class="col-md-12 blog-container" id="user.posts">
             <!-- Handlebars for All Posts Feed Seth-->
             <h2>Feed</h2>
            <ul>
              {{#each feed}}
              <li>
                <p>
                  {{this.dataValues.header}}. {{this.dataValues.body}}. {{this.dataValues.link}}
  
                <button data-postid="{{this.dataValues.id}}" class="like">Like</button>
                </p>
              </li>
              {{/each}}
            </ul>
              <!-- Handlebars for All User Likes  Seth-->
              <h2>Likes</h2>
            <ul>
              {{#each likes}}
              <li>
                <p>
                  {{this.Post.dataValues.header}}. {{this.Post.dataValues.body}}. {{this.Post.dataValues.link}}
                </p>
              </li>
              {{/each}}
            </ul>
              <!-- Handlebars for All User Posts Seth -->
              <h2>Your Posts</h2>
            <ul>
              {{#each postHist}}
              <li>
                <p>
                  {{this.dataValues.header}}. {{this.dataValues.body}}. {{this.dataValues.link}}
  
                <button data-postid="{{this.dataValues.id}}" class="delete">Delete</button>
                </p>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    <!-- Start of suggestions tab -->
    <div class="row column text-center">
      <h2>Suggestions</h2>
      <hr>
    </div>
    <!-- Profile tabs -->
    <div class="row small-up-2 large-up-4" id="suggestions">
      <div class="column" id="Profile1">
        <img class="thumbnail" src="./layouts/img/rust_sample.PNG">
        <h5 id="user_name"></h5>
        <p></p>
        <a href="/twitch.tv/${{this.id}}" class="button expanded">User Page</a>
      </div>
      <div class="column" id="Profile2">
        <img class="thumbnail" src="./layouts/img/overwatch_sample.PNG">
        <h5 id="user_name"></h5>
        <p></p>
        <a href="/twitch.tv/${{this.id}}" class="button expanded">User Page</a>
      </div>
      <div class="column" id="Profile3">
        <img class="thumbnail" src="./layouts/img/apex_sample.PNG">
        <h5 id="user_name"></h5>
        <p></p>
        <a href="/twitch.tv/${{this.id}}" class="button expanded">User Page</a>
      </div>
      <div class="column" id="Profile4">
        <img class="thumbnail" src="./layouts/img/minecraft_sample.PNG">
        <h5 id="user_name"></h5>
        <p></p>
        <a href="/twitch.tv/{{this.id}}" class="button expanded">User Page</a>
      </div>
    </div>
  </div>
  <hr>
</div>