<div class="card">
    <div class="row">
        <div class="col-md-3">
            <p>{{this.Post.dataValues.category}}</p>
        </div>
        <div class="col-md-6">
            <h2>{{this.Post.dataValues.header}}</h2>
            <p>{{this.Post.dataValues.body}}</p>
            {{#if this.Post.dataValues.link}}
            <a href={{this.Post.dataValues.link}}>{{this.Post.dataValues.link}}</a>
            {{/if}}
            <p>Posted By: {{this.User.dataValues.email}}</p>
        </div>
    </div>
    <button data-postid="{{this.Posr.dataValues.id}}" class="like">Like</button>
</div>